@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

footer {
    width: 100%;
    background-color: #f3f3f3;
}

.footer-after {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.footer-after>div>img {
    float: left;
    width: 55px;
    height: 55px;
    display: block;
    margin-top: 10px;
}

.footer-after h2 {
    font-size: 18px;
    float: left;
    margin: 10px 20px;
}

.footer-after a {
    font-size: 12px;
    display: block;
    /* float: left; */
    margin: 10px 75px;
}

.footer-menu {
    width: 90%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    padding: 30px 5px;
    margin: 30px auto 0;
}

.footer-menu a {
    font-size: 12px;
    line-height: 30px;
}

.footer-menu h2 {
    font-size: 18px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.footer-nav p {
    display: inline-block;
    margin: 0 15px;
    font-size: 13px;
    color: #4b4b4b;
}

.footer-nav p a {
    color: #4b4b4b;
}

.footer-text {
    margin: auto;
    text-align: center;
    width: 90%;
    color: #999;
}

.footer-records {
    margin: auto;
    text-align: center;
    width: 90%;
    margin: 10px 0;
    line-height: 20px;
    color: #999;
}

.footer-records img {
    vertical-align: middle;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    color: #999;
}

.footer-bottom img {
    margin-left: 20px;
}

.top {
    font-size: 16px;
    height: 60px;
    padding-top: 8px;
}

.top img {
    display: block;
    float: left;
    padding-left: 24px;
    width: 90px;
    height: 44px;
}

.top a {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    margin-left: 36px;
}

.top #spanr {
    height: 44px;
    line-height: 44px;
    display: block;
    float: left;
    margin-left: 36px;
}

.main {
    position: relative;
    width: 100%;
    height: 1030px;
    background: url(../img/login-bg.png);
    background-size: cover;
}

.main .main-logo {
    position: absolute;
    top: 210px;
    left: 1140px;
    padding: 36px;
    width: 310px;
    height: 540px;
    background-color: #fff;
    border-radius: 5px;
}

.register-title {
    float: left;
    font-size: 18px;
}

.register-top {
    height: 36px;
}

.direct-login {
    float: right;
    font-size: 18px;
}

.direct-login span a {
    color: red;
}

.division {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 12px 0 24px;
}

.ln-pc-login-input {
    position: relative;
    width: 320px;
    height: 40px;
    display: flex;
}

.ln-pc-login-input input {
    flex: 1;
    height: 38px;
    outline-style: none;
    text-indent: 35px;
    border-radius: 3px;
    border: 1px solid #999;
}

.ln-pc-login-input img {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 20px;
    height: 20px;
}

.tips {
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    color: #f33;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.ln-pc-login-input span {
    margin-left: 20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #999;
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    margin-left: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}

.agree-wrapper a {
    color: red;
}

.register-handle {
    width: 100%;
    height: 48px;
    background: #f33;
    border-radius: 4px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}